<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.test.homeautomation">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:roundIcon="@drawable/ic_launcher_round"
                 android:supportsRtl="true"
                 android:name=".App"
                 android:theme="@style/Theme.AppCompat.NoActionBar"
                 tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".screens.splash.SplashActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".screens.main.MainActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name"/>

        <activity android:name=".screens.add_device.AddDeviceActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name"/>
    </application>
</manifest>
